body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    background-color: rgb(17, 19, 22);
    color: white;
}

input {
    border: 0;
    outline: 0;
    background: rgb(33, 33, 33);
    border-bottom: 3px solid white;
    border-radius: 5px;
    padding: 0.5em;
    color: white;
    font-size: 250%;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

button {
    padding: 0.75em;
    color: white;
    background: rgb(208, 94, 88);
    border: none;
    border-radius: 5px;
    font-size: 125%;
    cursor: pointer;
}

button:disabled {
    color: gray;
    background: rgb(87, 54, 52);
}

h2 {
    font-size: 500%;
}

#answerButton, #clearButton {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
}